absl-py
appnope
asttokens
astunparse
attrs
backcall
black
cachetools
certifi
#charset-normalize
#check-shapes
click
cloudpickle
comm
contextlib2
#contourpy
cycler
debugpy
decorator
Deprecated
dill
dm-tree
#dropstackframe
entrypoints
exceptiongroup
execnet
executing
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
gpflow
gpflux
greenlet
grpcio
h5py
idna
importlib-metadata
iniconfig
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
keras
kiwisolver
lark
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mock
multipledispatch
mypy-extensions
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
path
path.py
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
pytest
pytest-git
pytest-shutil
pytest-xdist
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
smmap
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-probability
termcolor
threadpoolctl
tomli
tornado
tqdm
traitlets
trieste
typing-extensions
urllib3
wcwidth
#werkzeu
wrapt
zipp
